@include media-sm {
  .about {
    .jobs {
      width: 85vw;
      margin-left: 40px;
    }

    .social-icons {
      font-size: 0.5rem;
      margin-left: -10px;
      padding: 0;
    }
  }
}

@include media-md {
  .menu-btn {
    visibility: hidden;
  }

  .nav {
    visibility: visible;

    .menu-nav {
      display: block;
      transform: translateX(0);
      height: 100%;
      background: transparent;
      text-align: right;

      &__item {
        display: inline;
        padding-right: 1.5rem;
      }

      &__link {
        font-size: 1rem;
      }
    }
  }

  .about {
    .jobs {
      width: 65vw;
      margin-left: auto;
    }
    &__bio {
      font-size: 1.4rem;
      line-height: 1.6rem;
      margin-top: 80px;

      p {
        margin-top: 1.5rem;
      }
    }
  }

  .projects {
    &__bio-image {
      height: 40vh;
    }

    &__items {
      grid-template-columns: repeat(2, 1fr);
    }

    .text-secondary {
      font-size: 3rem;
    }
  }

  .contact__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include media-lg {
  .about {
    &__bio {
      width: 60%;
    }
  }
  .projects {
    &__items {
      grid-template-columns: repeat(3, 1fr);
    }

    .text-secondary {
      font-size: 3rem;
    }
  }
}

@include media-xl {
  .projects {
    &__bio-image {
      height: 50vh;
    }
  }
}
